.preview {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 10px;
    width: 250px;
    height: 150px;
    position: relative;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    border-radius: 0;
    outline: none;

  }
}
