<div class="flat">
  <nb-card [accent]="isFavorite ? 'danger' : 'info'"
           size="small"
           class="card">
    <nb-card-header class="card__header"></nb-card-header>
    <nb-card-body class="card__body">
      <nb-badge position="top right"
                [status]="isFavorite ? 'danger' : 'info'"
                [text]="price"
                class="badge-price"></nb-badge>
      <nb-badge position="top left"
                text="{{flat.createdAt | date:'medium'}}"
                class="badge-date"></nb-badge>

      <img [src]="flat.photo.photoUrls[0]"
           class="flat__img"
           routerLink="/flat/{{flat.id}}">

      <button nbButton
              class="flat__like"
              *ngIf="hasLikeButton"
              [status]="isFavorite ? 'danger' : 'info'"
              (click)="switchLike(flat?.id)">
        <nb-icon icon="heart"></nb-icon>
      </button>

    </nb-card-body>
    <nb-card-footer class="card__footer">

      <div class="flat__address">
        <fa-icon class="card__icon"
                 [icon]="faLocationDot"></fa-icon>
        <p>{{flat.address.addressStr}}</p>
      </div>
      <div class="flat__bedrooms">{{flat.bedrooms}} комнатная</div>
    </nb-card-footer>
  </nb-card>
</div>
