.cell-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
}

.day-cell {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.15s;
  transition-property: background-color, border-color, color;
  transition-timing-function: ease-in;
}

.day-cell,
.day-cell .cell-content {
  transition-duration: 0.15s;
  transition-property: background-color, border-color, color;
  transition-timing-function: ease-in;
}

.day-cell.empty,
.day-cell.disabled {
  cursor: default;
}

.day-cell.bounding-month {
  color: #b4b4db;
}

.day-cell:not(.disabled):not(.empty):hover .cell-content {
  background-color: #252547;
  border-color: #252547;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.day-cell:not(.disabled):not(.empty):active .cell-content {
  background-color: #7b51db;
  border-color: #7b51db;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.day-cell:not(.disabled):not(.empty).today .cell-content {
  background-color: rgba(161, 110, 255, 0.08);
  border: 1px solid #a16eff;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.day-cell:not(.disabled):not(.empty).today .cell-content:hover {
  background-color: rgba(161, 110, 255, 0.16);
  border-color: #a16eff;
}

.day-cell:not(.disabled):not(.empty).today .cell-content:active {
  background-color: rgba(161, 110, 255, 0.24);
  border-color: #a16eff;
}

.day-cell:not(.disabled):not(.empty).selected .cell-content {
  background-color: #a16eff;
  border-color: #a16eff;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.day-cell:not(.disabled):not(.empty).selected .cell-content:hover {
  background-color: #b18aff;
  border-color: #b18aff;
}

.day-cell:not(.disabled):not(.empty).selected .cell-content:active {
  background-color: #7b51db;
  border-color: #7b51db;
}

.day-cell:not(.disabled):not(.empty).today.selected {
  background-color: #a16eff;
  border-radius: 0.25rem;
}

.day-cell:not(.disabled):not(.empty).today.selected .cell-content {
  background-color: rgba(255, 255, 255, 0.08);
  border-color: transparent;
  color: #fff;
}

.day-cell:not(.disabled):not(.empty).today.selected .cell-content:hover {
  background-color: rgba(255, 255, 255, 0.16);
  border-color: transparent;
}

.day-cell:not(.disabled):not(.empty).today.selected .cell-content:focus {
  background-color: rgba(255, 255, 255, 0.24);
  border-color: transparent;
}

.day-cell.disabled {
  color: rgba(180, 180, 219, 0.48);
}

.day-cell.disabled.today .cell-content {
  border: 1px solid #13132b;
}


