.list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  &__item {
    padding: 0.975rem;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  &__button {
    margin-top: 15px;
  }

  &__icon {
    width: 75px;
    height: 75px;
  }

  &__text {
    display: flex;
    align-items: center;
  }
}
