<div class="list"
     *ngIf="flats?.length > 0; else empty">

  <ng-container *ngFor="let flat of flats">
    <app-flat-item class="list__item"
                   [flat]="flat"
                   [hasLikeButton]="hasLikeButton"
                   (likeChange)="onLikeChange($event)"
                   (delete)="onDelete($event)">
    </app-flat-item>
  </ng-container>
</div>

<ng-template #empty>
  <div class="empty"
       *ngIf="!isFavorites">
    <h2 class="h2">Нет объявлений</h2>
    <button class="empty__button"
            nbButton
            routerLink="/new-flat">подать объявление</button>
  </div>
  <div class="empty"
       *ngIf="isFavorites">
    <h2 class="h2 empty__text">Нет избранных объявлений. Нажмите <nb-icon class="empty__icon" icon="heart"
               status="danger"></nb-icon>, чтобы добавить объявление в избранное.
    </h2>
  </div>
</ng-template>
