<div class="container">
  <nb-card size="medium"
           status="primary"
           *ngIf="isLogin">
    <nb-card-header>Вход в аккаунт</nb-card-header>
    <nb-card-body>
      <form class="form"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()">

        <nb-form-field class="form__field">
          <nb-icon nbPrefix
                   icon="email-outline"
                   pack="eva"></nb-icon>
          <input nbInput
                 type="email"
                 placeholder="Email"
                 fieldSize="large"
                 formControlName="email">
        </nb-form-field>
        <nb-form-field class="form__field">
          <nb-icon nbPrefix
                   icon="lock-outline"
                   pack="eva">
          </nb-icon>
          <input nbInput
                 type="password"
                 placeholder="Password"
                 fieldSize="large"
                 formControlName="password">
        </nb-form-field>

        <button nbButton
                class="form__button"
                type="submit"
                status="primary"
                [disabled]="loginForm.invalid">Войти</button>
      </form>
      <div class="form__message">
        <p class="subtitle">{{ loginMessage }}</p>
        <p class="form__action"
           (click)="changeForm()">Зарегистрироваться</p>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card size="medium"
           status="primary"
           *ngIf="!isLogin">
    <nb-card-header>Регистрация</nb-card-header>
    <nb-card-body>
      <form class="form"
            [formGroup]="registrationForm"
            (ngSubmit)="onSubmit()">
        <nb-form-field class="form__field">
          <nb-icon nbPrefix
                   icon="person-outline"
                   pack="eva"></nb-icon>
          <input nbInput
                 type="text"
                 placeholder="Full Name"
                 fieldSize="large"
                 formControlName="name">
        </nb-form-field>
        <nb-form-field class="form__field">
          <nb-icon nbPrefix
                   icon="email-outline"
                   pack="eva"></nb-icon>
          <input nbInput
                 type="email"
                 placeholder="Email"
                 fieldSize="large"
                 formControlName="email">
        </nb-form-field>
        <nb-form-field class="form__field">
          <nb-icon nbPrefix
                   icon="phone-outline"
                   pack="eva">
          </nb-icon>
          <input nbInput
                 type="text"
                 maxlength="13"
                 placeholder="Mobile Phone"
                 fieldSize="large"
                 formControlName="phone">
        </nb-form-field>
        <nb-form-field class="form__field">
          <nb-icon nbPrefix
                   icon="lock-outline"
                   pack="eva">
          </nb-icon>
          <input nbInput
                 type="password"
                 placeholder="Password"
                 fieldSize="large"
                 formControlName="password">
        </nb-form-field>
        <button nbButton
                class="form__button"
                type="submit"
                status="primary"
                [disabled]="loginForm.invalid">Зарегистрироваться</button>
      </form>
      <div class="form__message">
        <p class="subtitle">{{ regMessage }}</p>
        <p class="form__action"
           (click)="changeForm()">Войти</p>
      </div>
    </nb-card-body>
  </nb-card>
</div>
