.card {
  width: 1000px;
  margin: 0 auto;

  &__header {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__icon {
    margin-right: 5px;
  }
}

.form {
  &__item {
    &--horizontal {
      margin-right: 40px;
    }

    &--vertical {
      margin-bottom: 10px;
    }

    &--centered {
      display: flex;
      align-items: center;
      line-height: 1;
    }
  }

  &__item-name {
    margin-left: 10px;
  }

  &__input {
    display: block;
  }

  &__input-label {
    margin-bottom: 5px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    height: 30px;
  }

  &__textarea {
    min-height: 100px;
    max-height: 300px;
  }

  &__checkbox {
    line-height: 0.5;
  }

  &__address {
    display: flex;
    justify-content: space-between;
  }

  &__address-item:first-child {
    flex-basis: 50%;
  }

  &__address-item:last-child {
    flex-basis: 45%;
  }
}

.file-input {
  width: 200px;

  &__invisible {
    opacity: 0;
    width: 200px;
    height: 40px;
    position: relative;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }
  }

  &__visible {
    position: absolute;
    width: 200px;
    height: 40px;
  }
}
