.user {
  &__info {
    display: flex;
  }

  &__info-item {
    margin-right: 40px;

    :last-child {
      margin-right: 0px;
    }
  }

  &__item-text {
    font-size: 20px;
    font-weight: bold;
  }
}

nb-card.list-card {
  height: 27.55rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
}
