<nb-card *ngIf="user"
         status="primary"
         class="user">
  <nb-card-header>Информация о пользователе <span class="user__item-text">{{user.name}}</span> </nb-card-header>
  <nb-card-body>
    <div class="user__info">
      <p class="user__info-item subtitle">
        Телефон: <span class="user__item-text">{{ user.phone }}</span>
      </p>
      <p class="user__info-item subtitle">
        Email: <span class="user__item-text">{{ user.email }}</span>
      </p>
    </div>
    <nb-card status="info"
             size="medium"
             class="list-card">
      <nb-card-header>Объявления пользователя</nb-card-header>
      <nb-card-body *ngIf="flats$ | async">
        <app-flat-list class="list"
                       [flats$]="flats$">
        </app-flat-list>
      </nb-card-body>
    </nb-card>

    <nb-card status="danger"
             size="medium"
             class="list-card">
      <nb-card-header>Избранное</nb-card-header>
      <nb-card-body *ngIf="favorites$ | async">
        <app-flat-list class="list"
                       [flats$]="favorites$">
        </app-flat-list>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
