@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
}

@import 'assets/fonts/fonts';

* {
  margin: 0;
  outline: none;
}

html,
body {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[nbinput]::placeholder {
  opacity: 0.4;
}

textarea[nbinput]::placeholder {
  opacity: 0.4;
}

nb-checkbox .native-input:focus:checked + .custom-checkbox {
  box-shadow: none;
}

nb-checkbox .native-input:focus:not(:checked) + .custom-checkbox {
  box-shadow: none;
}

nb-checkbox .native-input:focus:not(:checked) + .custom-checkbox:not(:hover):not(:active) {
  box-shadow: none;
}

nb-radio .text {
  line-height: unset;
}

[nbButton]:focus, [nbButtonToggle]:focus {
  box-shadow: none;
}

.hint {
  margin-top: 5px;
}
